.product-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top:100px;
}
.product-left {
    flex: 1;
}
.main-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.image-gallery img {
    width: 60px;
    margin: 5px;
    cursor: pointer;
}
.product-right {
    flex: 1;
}
.price {
    font-size: 24px;
    color: #1a964e;
}
.old-price {
    text-decoration: line-through;
    color: gray;
}
.discount {
    text-decoration: none;
    color:#1a964e;
}
.quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}
.quantity input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}
.quantity button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 5px;
}
.quantity button:hover {
    background: #ccc;
}
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.buy-now, .add-to-cart {
    display: block;
    padding: 10px;
    text-align: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.buy-now {
    background: #2196F3;
}
.add-to-cart {
    background: #FF9800;
}

.brand_name, .product_name{
    text-transform: capitalize;
    font-weight: bold;
}
