{% extends 'base.html' %}
{% load static %}


{% block title %}
home
    
{% endblock title %}
    


{% block content %}
    

    
    <!-- Banner Section -->
    <div class="image-slider-container">
        <div class="image-slider">
            <img src="{% static 'images/1.png' %}" alt="Logo" class="image-slide">
            <img src="{% static 'images/Screenshot (146).png' %}" alt="Logo" class="image-slide">
            <img src="{% static 'images/Screenshot 2024-10-01 094059.png' %}" alt="Logo" class="image-slide">
            <img src="{% static 'images/q1.png' %}" alt="Logo" class="image-slide">
        </div>
    
        <button class="slider-button prev" onclick="changeImage(-1)">&#10094;</button>
        <button class="slider-button next" onclick="changeImage(1)">&#10095;</button>
      </div>

{% endblock content %}