{% extends "base.html" %}
{% load static %}

{% block title %}Login |nepstore{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% if messages %}
    <div id="popup-message" class="popup">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<div class="login-container">

     <!-- Register Link Section -->
     <section id="register-link" class="register-link-section">
      <p class="login-footer">Don't have an account? <a href="{% url 'register_user' %}" class="login-link switch-link" id="to-register">Register here</a></p>
  </section>

    <div class="login-wrapper">
      <!-- Login Form -->
        <section id="login" class="login-section">
            <form method="post" action="{% url 'login' %}" class="login-form">
                {% csrf_token %}
                <label for="username" class="login-label">Username:<br>
                    <input type="text" id="username" name="username" class="login-input placeholder-bold" placeholder="Username" required>
                </label>

                <label for="password" class="login-label">Password:<br>
                    <input type="password" id="password" name="password" class="login-input placeholder-bold" placeholder="Password" required>
                </label>

                <button type="submit" class="login-button">Login</button>
            </form>
           
        </section>
    </div>
</div>



<script src="{% static 'js/message.js' %}"></script>



{% endblock %}
