{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
<div class="product-container">
    <div class="product-left">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="main-image">
        <div class="image-gallery">
            {% for image in product.images.all %}
                <img src="{{ image.url }}" alt="Gallery Image">
            {% endfor %}
        </div>
    </div>

    <div class="product-right">
        <h1 class="product_name">{{ product.name }}</h1>
        <h2>Product Details</h2>
        <p>{{ product.description }}</p>
        <div class="rating">
            ⭐⭐⭐⭐⭐
             {% comment %} <span>({{ product.reviews.count }})</span> {% endcomment %}
        </div>
        <p class="brand_name"><strong>Brand:</strong> {{ product.brand }}</p>
        <p class="price">Rs. {{ product.price }}</p>
        <p class="old-price">Rs. {{ product.old_price }}</p> 
        {% comment %}
            separated percentage and price 
        {% endcomment %}
            
         <span class="discount">-{{ product.discount }}%</span>
         <br>
         <br>

        <label>Quantity:</label>
        <div class="quantity">
            <button class="minus">-</button>
            <input type="number" value="1" min="1" id="quantity-input">
            <button class="plus">+</button>
        </div>

        <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="quantity" id="hidden-quantity" value="1">
            <button type="submit" class="add-to-cart">Add to Cart</button>
        </form>

        <a href="{% url 'buy_now' %}" class="buy-now">Buy Now</a>

       
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const minusBtn = document.querySelector(".minus");
        const plusBtn = document.querySelector(".plus");
        const quantityInput = document.getElementById("quantity-input");
        const hiddenQuantity = document.getElementById("hidden-quantity");

        minusBtn.addEventListener("click", function() {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
                hiddenQuantity.value = quantityInput.value;
            }
        });

        plusBtn.addEventListener("click", function() {
            let currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue + 1;
            hiddenQuantity.value = quantityInput.value;
        });

        quantityInput.addEventListener("input", function() {
            if (quantityInput.value < 1 || isNaN(quantityInput.value)) {
                quantityInput.value = 1;
            }
            hiddenQuantity.value = quantityInput.value;
        });
    });
</script>

{% endblock %}
