<div class="product-title"><h2>PRODUCTS</h2></div>

<div class="category-filters">
    <a href="{% url 'product_list' %}" class="category-link {% if not current_category %}active{% endif %}" style="text-decoration: none;">
      All 
    </a>
    {% for category in categories %}
    <a href="{% url 'product_list' %}?category={{ category.slug }}" class="category-link {% if current_category == category.slug %}active{% endif %}">
        {{ category.name }}
    </a>
    {% endfor %}
</div>

<div class="product-container">
    {% for product in products %}
    <div class="product-card">
        <a href="{% url 'product_detail' product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p class="price">Rs. {{ product.price }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
